<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>closed</key>
		<false/>
		<key>mainHours</key>
		<true/>
		<key>facilityHours</key>
		<true/>
		<key>title</key>
		<string>Fall Hours</string>
		<key>hours</key>
		<array>
			<string>12:00pm - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 12:00am</string>
			<string>9:00am - 11:00pm</string>
		</array>
		<key>beginningDate</key>
		<date>2013-08-28T05:00:00Z</date>
		<key>endDate</key>
		<date>2013-12-06T06:00:00Z</date>
	</dict>
	<dict>
		<key>closed</key>
		<false/>
		<key>mainHours</key>
		<true/>
		<key>facilityHours</key>
		<true/>
		<key>title</key>
		<string>Winter Hours</string>
		<key>hours</key>
		<array>
			<string>12:00pm - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 12:00am</string>
			<string>9:00am - 11:00pm</string>
		</array>
		<key>beginningDate</key>
		<date>2012-12-08T06:00:00Z</date>
		<key>endDate</key>
		<date>2013-01-06T06:00:00Z</date>
	</dict>
	<dict>
		<key>closed</key>
		<false/>
		<key>mainHours</key>
		<true/>
		<key>facilityHours</key>
		<true/>
		<key>title</key>
		<string>Spring Hours</string>
		<key>hours</key>
		<array>
			<string>12:00pm - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 11:00pm</string>
			<string>5:30am - 12:00am</string>
			<string>9:00am - 11:00pm</string>
		</array>
		<key>beginningDate</key>
		<date>2013-01-07T06:00:00Z</date>
		<key>endDate</key>
		<date>2013-05-02T05:00:00Z</date>
	</dict>
	<dict>
		<key>closed</key>
		<false/>
		<key>mainHours</key>
		<true/>
		<key>facilityHours</key>
		<true/>
		<key>title</key>
		<string>Summer Hours</string>
		<key>beginningDate</key>
		<date>2013-05-02T05:00:00Z</date>
		<key>endDate</key>
		<date>2013-08-28T05:00:00Z</date>
	</dict>
	<dict>
		<key>closed</key>
		<false/>
		<key>mainHours</key>
		<false/>
		<key>facilityHours</key>
		<false/>
		<key>title</key>
		<string>Pool Hours</string>
		<key>beginningDate</key>
		<date>2013-01-01T06:00:00Z</date>
		<key>endDate</key>
		<date>2014-01-01T06:00:00Z</date>
		<key>hours</key>
		<array>
			<string>7:00 am - 11:00 pm</string>
			<string>7:00 am - 10:30 pm</string>
			<string>7:30 am - 10:30 pm</string>
			<string>6:00 am - 10:00 pm</string>
			<string>4:00 am - 11:00 am</string>
			<string>4:00 am - 11:00 am</string>
			<string>5:00 am - 11:00 am</string>
		</array>
	</dict>
	<dict>
		<key>closed</key>
		<false/>
		<key>mainHours</key>
		<false/>
		<key>facilityHours</key>
		<true/>
		<key>title</key>
		<string>Fall Break Hours</string>
		<key>beginningDate</key>
		<date>2013-10-22T05:00:00Z</date>
		<key>endDate</key>
		<date>2013-10-26T05:00:00Z</date>
	</dict>
	<dict>
		<key>closed</key>
		<true/>
		<key>title</key>
		<string>Christmas</string>
		<key>beginningDate</key>
		<date>2013-12-24T06:00:00Z</date>
		<key>endDate</key>
		<date>2013-12-26T06:00:00Z</date>
	</dict>
	<dict>
		<key>closed</key>
		<true/>
		<key>title</key>
		<string>Thanksgiving</string>
		<key>beginningDate</key>
		<date>2013-11-22T06:00:00Z</date>
		<key>endDate</key>
		<date>2013-11-29T06:00:00Z</date>
	</dict>
</array>
</plist>
