<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Regular Hours</string>
		<key>hours</key>
		<array>
			<string>12:00 PM - 11:00 PM</string>
			<string>5:30 AM - 11:00 PM</string>
			<string>5:30 AM - 11:00 PM</string>
			<string>5:30 AM - 11:00 PM</string>
			<string>5:30 AM - 11:00 PM</string>
			<string>5:30 AM - 12:00 AM</string>
			<string>9:00 AM - 10:00 PM</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Pool Hours</string>
		<key>hours</key>
		<array>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Summer Hours</string>
		<key>hours</key>
		<array/>
	</dict>
	<dict>
		<key>title</key>
		<string>Winter Hours</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Fall Break</string>
	</dict>
</array>
</plist>
